DirectoryIndex index.php

RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# how to activate rewrite mode: https://github.com/docker-library/php/issues/355
# model, controller, view